{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
    <a href="https://www.enable-javascript.com/">
{% endblock %}

{% block title %}Paiement de ma commande{% endblock %}

{% block content %}
    <style>
    .form-check
    {
        background-color: #f4f8ff;
        padding-left: 20px;
        margin-top: 5px;
        
    }
    .col-form-label
    {
        font-weight: bold;
        
    }

    .order-summary
    {
        background-color: #f4f8ff;
        padding: 20px;
        margin-top: 22px;
    }
    </style>
    <h2> Recapitulatif</h2>

    <p>Vérifier vos informations avant de payer votre commande</p>
    <hr>
<div class="row">
    <div class="col-md-6">
        <strong>Mon adresse de livraison</strong><br/>
        <div class="form-check mt-4">
            {{delivery|raw}}
        </div>
        <hr>
        <strong>Mon transporteur</strong><br/>
        <div class="form-check">
            {{carrier.name}}<br/>
            {{carrier.description}}<br/>
            {{(carrier.prix/100)| number_format(2,',','.')}} €<br/>
        </div>
        
    </div>

    <div class="col-md-6">
        <div class="text-center">
            <b> Ma commande </b></br>
            
        </div>  
            <div class="order-summary">   
             {% set total=null %}
                {% for key,product in cart %}
                <div class="row {% if key >0 %}mt-2{% endif %}">

                    <div class="col-2">
                        <img src="/Images/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px">
                    </div>
                            <div class="col-8 my-auto"> 
                                {{product.product.name}} <br/>
                                        <small>
                                        {{product.product.subtitle}}
                                            <br/>
                            
                                        × {{product.quantity}}
                                        </small> 
                            </div>
                    
                    <div class="col-2 my-auto"> 

                     {{((product.product.prix*product.quantity)/100) |number_format(2,',','.')}} €
                    </div>
                </div> 
                {% set total=total+(product.product.prix * product.quantity)%}
                {% endfor %}
            </div>
            <br>
            <strong>Sous-Total:   </strong>{{(total/100)|number_format(2,',','.')}} €<br/>
            <strong>Livraison:   </strong>{{(carrier.prix/100)|number_format(2,',','.')}} €<br/><br/>
            <strong>Total:   </strong>{{((total/100)+(carrier.prix/100))|number_format(2,',','.')}} € |  {{(((total/100)+(carrier.prix/100))*655.51)  |number_format(2,',','.')}} FCFA<br/>
        <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer par carte | {{((total/100)+(carrier.prix/100))|number_format(2,',','.')}} €</a>



        </br></br></br></br>






        <div id="smart-button-container">
            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>
        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=AfiGT6_hDD9e-b8DUsu_RWtxmmHJOy1j250iMTz2yb4NTXjn0bAnNhaFVmq5hBr9qZ5nZdxvlyKJd1Dl&disable-funding=credit,card&currency=EUR"></script>
        <script>
            function initPayPalButton() {
                paypal.Buttons({
                    style: {
                        //shape: 'rect',
                       // color: 'gold',
                       // layout: 'vertical',
                        label: 'pay',
                        color: 'blue',
                        shape: 'pill'

                    },

                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units : [{
                                amount: {
                                    value: {{ ((total/100)+(carrier.prix/100)) }},

                                }
                            }]
                        });
                    },

                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            //alert('votre paiement effectué avec success référence commande');
                            window.location.replace("https://www.djsem-electronic.com/paypal/{{ name }}/{{ reference }}/{{ email }}/{{ telephone }}")

                        });
                    },

                    onCancel: function (data) {
                        alert('votre paiement a échoué cliquez pour être rediriger vers vos commandes pour réessayer');
                        window.location.replace('{{path('order')}}');
                    }
                }).render('#paypal-button-container');
            }
            initPayPalButton();
        </script>






    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    var stripe = Stripe("pk_live_51IbTFlDtpGNDFtyneQxDHKPbkrApq2c0Ty3L8H25DCQuCro7aLzWgxNiTNmdcjduRlkZgUnW5NtJT3iVsR4CAeHF00Xusj9mim");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/commande/create-session/{{ reference }}",{
        method: "POST",
      })
        .then(function (response) {
            
          return response.json();
        })
        .then(function (session) {
            if(session.error=='order')
            {
                window.location.replace('{{path('order')}}');
            }
            else
            {
                return stripe.redirectToCheckout({ sessionId: session.id });
            }
          
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}